<!DOCTYPE>
<html>
<head>
 <link id="Ulkit" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.1/css/uikit.min.css" />
 <link id="CSS" rel="stylesheet" href="./Estilos.css">
<title>PRODUCTOS</title>
</head>

<body>

<div id="ag">
  <center>
<p><a href="index.html"><img class="banner" src="./img/logo.png" alt="DROP DEAD"></a></p>
</center>
</div>

<div id="app"  uk-filter="target: .js-filter">

    <ul class="uk-subnav uk-subnav-pill">
        <li uk-filter-control=".tag-green"><a href="#">HOODIES</a></li>
        <li uk-filter-control=".tag-blue"><a href="#">JEANS</a></li>
        <li uk-filter-control=".tag-black"><a href="#">BLUSAS</a></li>
    </ul>

    <ul class="js-filter uk-child-width-1-2 uk-child-width-1-3@m uk-text-center" uk-grid>


        <li v-for="(HOODIE, i) in HOODIES" class="tag-green">
            <div>
                <div   class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <center><img class="tarjeta"  :src="HOODIE.product.media"  alt=""></center>
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{HOODIE.product.name}}</h3>
                        <p>Costo: ${{HOODIE.product.price}}</p>
                        <p>{{HOODIE.product.description}}</p>
                    </div>
                </div>


            </div>
        </li>

        <li v-for="(JEAN, i) in JEANS" class="tag-blue">
            <div>
                <div   class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <center><img class="tarjeta"  :src="JEAN.product.media"  alt=""></center>
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{JEAN.product.name}}</h3>
                        <p>Costo: ${{JEAN.product.price}}</p>
                        <p>{{JEAN.product.description}}</p>
                    </div>
                </div>


            </div>
        </li>

            <li v-for="(BP, i) in BPS" class="tag-black">
            <div>
                <div   class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <center><img class="tarjeta"  :src="BP.product.media"  alt=""></center>
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{BP.product.name}}</h3>
                        <p>Costo: ${{BP.product.price}}</p>
                        <p>{{BP.product.description}}</p>
                    </div>
                </div>


            </div>
        </li>

    </ul>

</div>

<br><br><br>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.1/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.1/js/uikit-icons.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyDzgZapMUPFkg6dlte4W3au-E0zHR7Vp50",
        authDomain: "test-4341e.firebaseapp.com",
        databaseURL: "https://test-4341e.firebaseio.com",
        projectId: "test-4341e",
        storageBucket: "test-4341e.appspot.com",
        messagingSenderId: "301332539094"
    };
    firebase.initializeApp(config);
</script>
<script>
    const app = new Vue({
        el: '#app',
        data:{
            JEANS:[],
            HOODIES:[],
            BPS:[]
        },
        created(){
            firebase.database().ref("products/HOODIES/")
                .once("value")
                .then(snap=>{
                    this.HOODIES = snap.val();
                    console.log("aqui va",this.HOODIES)

                })
            firebase.database().ref("products/JEANS/")
                .once("value")
                .then(snap=>{
                    this.JEANS = snap.val();
                    console.log("aqui esta",this.JEANS)
                })
            firebase.database().ref("products/BLUSAS-PLAYERAS/")
                .once("value")
                .then(snap=>{
                    this.BPS = snap.val();
                    console.log("aqui esta",this.BPS)
                })

        },
        methods:{

        }
    })
</script>
<!-- Start of drop-dead Zendesk Widget script -->
<script>/*<![CDATA[*/window.zE||(function(e,t,s){var n=window.zE=window.zEmbed=function(){n._.push(arguments)}, a=n.s=e.createElement(t),r=e.getElementsByTagName(t)[0];n.set=function(e){ n.set._.push(e)},n._=[],n.set._=[],a.async=true,a.setAttribute("charset","utf-8"), a.src="https://static.zdassets.com/ekr/asset_composer.js?key="+s, n.t=+new Date,a.type="text/javascript",r.parentNode.insertBefore(a,r)})(document,"script","0879b243-4241-472e-b746-1f5707cdbf56");/*]]>*/</script>
<!-- End of drop-dead Zendesk Widget script -->
</body>
</html>